

<div id="setting-first-second-categories">
	<%= form_tag "", :class=>"first-category-selection", :method=>:get do %>
		<%= select_tag "value", options_for_select(FirstCategory.all.map{|f| [f.name,f.id]},@first_category.id) %>
	<% end %>

	<div class="add-new">
		<%= link_to "新增次項目",new_setting_first_category_second_category_path(@first_category) %>
	</div>
	
	<div class="second-category-content">
		<% @second_categories.each do |second_category| %>
			<div class="field">
				<div class="second-category-field"> 
						<div class="title">
							<%= second_category.name %> 
						</div>
						<div class="edit">
							<%= link_to "編輯",edit_setting_first_category_second_category_path(@first_category,second_category) %>
						</div>

				</div>
				<ul class="third-category-field">
					<% second_category.third_categories.order(:order).each do |third_category| %>
						<li> <%= third_category.name %> </li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>

<script>

$('#setting-first-second-categories .first-category-selection').on('change','select',function(e){
	console.log(firstCategoryId);
	e.preventDefault();
	var firstCategoryId = parseInt($(this).val());
	var url = "/setting/first_categories/" + firstCategoryId + "/second_categories"
	$('#setting-first-second-categories .first-category-selection').attr('action',url);
	$('#setting-first-second-categories .first-category-selection').submit();
})

</script>



