<%# deal_record %>

<% deal_item_name = "deal_record[deal_items_attributes]" %>
<div class="deal-item-field-group" vFieldGroup=<%= deal_item_name %>>
	<div class="deal-item-field-group-title">
		明細 
	</div>

	<% deal_record.deal_items.each_with_index do |deal_item,index| %>	
		<% deal_item_name_index = "#{deal_item_name}[#{index}]" %>

		<div class="deal-item-field" vField=<%=deal_item_name_index%>>
			明細
			<%= hidden_field deal_item_name_index,:id, :value=> deal_item.id %>
			<%= link_to "x","", :class=>"remove", vFieldTarget:deal_item_name_index %>

			<div class="deal-item-field-unit">
				<div class="title"> 金額 </div>	
				<div class="input">
					<%= number_field deal_item_name_index ,:amount, value: deal_item.amount %>	
				</div>
			</div>

			<div class="deal-item-field-unit">
				<div class="title">
					主項目
				</div>	
				<div class="input">
					<%= select deal_item_name_index, :first_category_id, options_for_select(FirstCategory.all.map{|fc| [fc.name,fc.id]}, deal_item.first_category_id) %>
				</div>
			</div>

			<div class="deal-item-field-unit">
				<div class="title">
					次項目
				</div>	
				<div class="input">
					<%= select deal_item_name_index, :second_category_id, options_for_select(SecondCategory.all.map{|fc| [fc.name,fc.id]}, deal_item.second_category_id) %>						
				</div>
			</div>					

			<div class="deal-item-field-unit">
				<div class="title">
					描述
				</div>	
				<div class="input">
					<%= text_field deal_item_name_index,:description, :value=>deal_item.description %>							
				</div>
			</div>	

			<div class="deal-item-field-payment">
				<div class="deal-item-field-payment-title">
					交易方式
				</div>	

				<% deal_payment_name = "#{deal_item_name_index}[deal_payments_attributes]" %>

				<div class="deal-payment-field-group" vFieldGroup=<%=deal_payment_name%>>
					<% deal_item.deal_payments.each_with_index do |deal_payment,subindex| %>
						<% deal_payment_name_index = "#{deal_payment_name}[#{subindex}]" %>
						<div class="payment-field" vField=<%=deal_payment_name_index%> >

							<%= hidden_field deal_payment_name_index, :id, :value=> deal_payment.id %>
							<div class="remove">
								<%= link_to "移除","", :onClick=>"vRemoveField(event,this)", 
																	 :vFieldTarget=>deal_payment_name_index %>								
							</div>

							<div class="amount">
								<%= number_field deal_payment_name_index, :amount, :value=>deal_payment.amount, :placeholder=>"金額" %>							
							</div>

							<div class="account-entity">
								<%= select deal_payment_name_index, :account_entity_id, options_for_select(AccountEntity.all.map{|entity| ["#{entity.account_owner.name}-#{entity.name}",entity.id]},deal_payment.id) %>																
							</div>

						</div> <%# payment-field %>
						<div class="add-payment-field">
							<%= link_to "新增交易方式","", :onClick=>"vAddField(event,this)", 
																	 :vFieldTarget=>deal_payment_name %>							
						</div>
					<% end %>	<%# deal_item.deal_payments.each_with_index  %>
				</div>

			</div>	<%# deal-item-field-payment %>
		</div>	<%# attribute-field %>
	<% end %>

	<div class="add-deal-item-field">
		<%= link_to "新增明細","", :onClick=>"vAddField(event,this)",  
											:vFieldTarget=>deal_item_name %>	
	</div>
</div>


