

<% if @deal_record.new_record? %>
	<% path = deal_records_path %>
	<% method = :post %>
	<% title = "新增交易紀錄" %>
<% else %>
	<% path = deal_record_path(@deal_record) %>
	<% method = :patch %>
	<% title = "編輯 #{@deal_record.date.strf.time('%m月%d日')} 在#{@deal_record.location}的交易紀錄" %>
<% end %>

<%= form_tag path, :method=>method do %>
<div class="deal-record-form">
	
	<div class="deal-record-form-title-amount">
		<div class="title">
			<%= title %>		
		</div>
		<div class="total-amount">
			<div class="title"> 總金額 </div>
			<div class="value"> <%= @deal_record.amount %> </div>
		</div>				
	</div>

	<div class="record-field">
		<div class="record-field-date-location">
			<div class="date">
				<%= select :deal_record, 
									 :date, 
									 options_for_select(day_list,0.day.ago) %>			
			</div>
			<div class="location">
				<%= text_field :deal_record, 
											 :location, 
											 :value=>@deal_record.location,
											 :placeholder=>"地點" %>
			</div>			
		</div>

		<div class="record-field-description">
			<div class="title">
				說明
			</div>
			<div class="input">
				<%= text_field :deal_record, :description, :value=>@deal_record.description %>
			</div>
		</div>

	</div>

	<%= render :partial=>"deal_records/deal_items.html", :locals=>{:deal_record=>@deal_record} %>

	<div class="submit">
		<%= submit_tag "儲存這筆記錄" %>
	</div>


</div>

<% end %>


<script>

$('.deal-record-form').on('keydown','input',function(e){
	if (e.which==13){
		e.preventDefault()
	}
})

$('.deal-record-form').on('change',' .deal-item-field .input-amount',function(e){
	recountTotalAmount();

	var amount = $(this).val();
	var dealItemField = $(this).closest('.deal-item-field')
	var paymentFields = dealItemField.find('.payment-field')
	if (paymentFields.length==1){
		$(paymentFields[0]).find('.amount input[type=number]').val(amount);
	}
})

function recountTotalAmount(){
	var total_amount = 0
	$('.deal-record-form .deal-item-field .input-amount').each(function(index,element){
		total_amount += parseInt($(element).val());
	})
	$('.deal-record-form .total-amount .value').text(total_amount);
}

$(document).ready(function(){

	$('.deal-record-form').on('click','.deal-item-field-remove-amount a',function(e){
		console.log('click');
	})


})


</script>

