
<div class="deal-record-index">
	
	<table>
		<tr>
			<td> 日期 </td>
			<td> 交易地點 </td>
			<td> 描述 </td>
			<td> 交易金額 </td>
			<td> 交易類別 </td>
			<td></td>
		</tr>
		<% @deal_records.each do |deal_record| %>
			<tr>
				<td> <%= deal_record.date.strftime('%m月%d日') %> </td>
				<td> <%= deal_record.location %> </td>	
				<td> <%= deal_record.description %> </td>
				<td> <%= deal_record.amount %> </td>
				<td> <%= deal_record.total_first_category %> </td>
				<td> <%= link_to "細節", deal_record_path(deal_record), :class=>"btn btn-default detail"%> </td>
			</tr>
		<% end %>
			
	</table>
</div>

