


<%= form_tag deal_records_path do %>
<div class="deal-record-new">
		<div class="submit">
			<%= submit_tag "儲存這筆記錄" %>
		</div>
		<div class="record-field">
			<table>
				<tr>
					<td> 交易日期 </td>
					<td>
						<%= select :deal_record, :date, options_for_select(day_list,0.day.ago) %>			
					</td>
				</tr>
				<tr>
					<td> 地點 </td>
					<td>
						<%= text_field :deal_record, :location, :value=>@deal_record.location %>
					</td>
				</tr>	
				<tr>
					<td> 說明 </td>
					<td>
						<%= text_field :deal_record, :description, :value=>@deal_record.description %>
					</td>
				</tr>			
			</table>
		</div>

		<div class="deal-items-attributes attribute-field-group">
			<% @deal_record.deal_items.each_with_index do |deal_item,index| %>	
				<% object_name = "deal_record[deal_items_attributes][#{index}]" %>
				<div class="attribute-field">
					明細
					<%= hidden_field object_name,:id, :value=> deal_item.id %>
					<%= link_to "x","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"remove" %>
					<table class="deal-item-table">
						<tr>
							<td>金額</td>
							<td>
								<%= number_field object_name,:amount, :value=>deal_item.amount %>	
							</td> 
						</tr>
						<tr>
							<td>類別</td>
							<td>
								<%= select object_name, :first_category_id, options_for_select(FirstCategory.all.map{|fc| [fc.name,fc.id]}, deal_item.first_category_id) %>
							</td>
						</tr>
						<tr>
							<td>項目</td>
							<td>
								<%= select object_name, :second_category_id, options_for_select(SecondCategory.all.map{|fc| [fc.name,fc.id]}, deal_item.second_category_id) %>						
							</td>
						</tr>
							<td>描述</td>
							<td>
								<%= text_field object_name,:description, :value=>deal_item.description %>							
							</td>
						</tr>

						<tr>
							<td>付款方式</td>
							<td>
								
								<div class="deal-payments-attributes payment-field-group">
								<% deal_item.deal_payments.each_with_index do |deal_payment,subindex| %>
									<% payment_name = "#{object_name}[deal_payments_attributes][#{subindex}]" %>
									<div class="payment-field">
										<%= hidden_field payment_name, :id, :value=> deal_payment.id %>
										<table>
											<tr>
												<td> 付款方式 </td>
												<td>
													<%= select payment_name, :account_entity_id, options_for_select(AccountEntity.all.map{|entity| ["#{entity.account_owner.name}-#{entity.name}",entity.id]},deal_payment.id) %>
												</td>
											</tr>
											<tr>
												<td>金額</td>
												<td>
													<%= number_field payment_name, :amount, :value=>deal_payment.amount %>
												</td>
											</tr>
										</table>
										<%= link_to "xx","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"remove" %>
									</div> <%# attribute-field %>
									<%= link_to "++","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-default btn-xs" %>
									<% end %>									
								</div>


							</td>
						</tr>
					</table>

				</div>	
			<% end %>
			<%= link_to "+","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-default btn-xs" %>
		</div>


</div>

<% end %>
