

<div class="deal-record-show">
	<div class="back">
		<%=link_to "回清單",deal_records_path %>
	</div>
	<div class="record-field">
		<table>
			<tr>
				<td> 交易日期 </td>
				<td>
 					<%= @deal_record.date.strftime('%m月%d日') %>
				</td>
			</tr>
			<tr>
				<td> 地點 </td>
				<td>
					<%= @deal_record.location %>
				</td>
			</tr>	
			<tr>
				<td> 描述 </td>
				<td>
					<%= @deal_record.description %>
				</td>
			</tr>
			<tr>
				<td>總金額</td>
				<td><%= @deal_record.amount %></td>
			</tr>
		</table>
	</div>
			
	<div class="deal-item-group">
		<% @deal_record.deal_items.each_with_index do |deal_item,index| %>	
			<div class="deal-item-field">
				<%="明細#{index+1}"%>
				<table>
					<tr>
						<td>金額</td>
						<td> <%= deal_item.amount %> </td> 
					</tr>
					<tr>
						<td>類別</td>
						<td> <%= deal_item.first_category_name %> </td>
					</tr>
					<tr>
						<td>項目</td>
						<td> <%= deal_item.second_category_name %> </td>
					</tr>
					<tr>
						<td>描述</td>
						<td>
							<%= deal_item.description %>
						</td>
					</tr>
				</table>

			</div>	
		<% end %>
	</div>

	<div class="edit-history">
		<div>編輯紀錄</div>
		<table class="table table-bordered">
			<tr>
				<td>編輯者</td>
				<td>編輯時間</td>
			</tr>
			<% @deal_record.deal_record_user_updates.each do |update| %>
				<tr>
					<td> <%= update.user.username%></td>
					<td> <%= update.created_at.localtime %></td>
				</tr>			
			<% end %>

		</table>
	</div>

	<div class="edit">
			<%= link_to "修改", edit_deal_record_path(@deal_record) %>
	</div>
</div>
	
